<div class="container">
  <h2>Lista de Procedimientos</h2>
  <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)" placeholder="Buscar procedimientos...">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let procedure of filteredProcedures" (click)="handleRowClick(procedure)">
        <td>{{ procedure.name }}</td>
        <td>{{ procedure.description }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="error">{{ error }}</p>
</div>
