<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">first Angular</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="showGuardBoard">
          <a routerLink="/procedures" class="nav-link">Procedures</a>
        </li>
        <li class="nav-item" *ngIf="showGuardBoard">
          <a routerLink="/create-procedure" class="nav-link">Nuevo Procedimiento</a>
        <li class="nav-item" *ngIf="showPathologistBoard">
          <a routerLink="/pathology" class="nav-link">Pathology</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/user" class="nav-link">User</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/register" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/profile" class="nav-link">{{ email }}</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
